* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

body {
  display: flex;
  width: 100%;
  height: 100vh;
}

header {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #455A64;
  color: #FFFFFF;
}

.input-container {
  width: 100%;
  height: 55%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

h1 {
  font-size: 6vw;
}

img {
  width: 80px;
  height: 80px
	vertical-align: middle;
  margin-top: -13px;
}

input {
  width: 89.23%;
  border-style: 1px solid;
  font-size: 25px;
}

.enter,
.clear {
  width: 90%;
  font-size: 22px;
  background-color: #FFC107;
  color: #FFFFFF;
  font-weight: bold;
  border-style: none;
}

.counter-container {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

div {
  width: 33%;
  font-size: 12px;
}

main {
  width: 50%;
  background-color: #CFD8DC;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2%;
}

 article {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #FFFFFF;
  width: 95%;
  height: 22%;
  margin-bottom: 5%;
  border: 1px solid #455A64;
}

h2 {
  color: #455A64;

}

hr {
  color: #CFD8DC;
}

.read-delete-container {
  display: flex;

}

h2,
hr,
.urllink,
.read-delete-container {
  width: 95%;
}

.urllink {
  color: #607D8B;
  text-decoration-color: #F2F4F4;
}

.delete-button {
  margin-left: auto;
}
.read-button,
.delete-button {
  font-size: 15px;
  background-color: #ffffff;
  color: #455A64;
  border: none;
  text-decoration: underline;
  text-decoration-color: #F2F4F4;
}
.read-button:focus {
  outline: 0;
}
.delete-button:focus {
  outline: 0;
}
.read-button:hover {
  color: red;
}
.delete-button:hover {
  color: grey;
}

.read .read-button {
  color: red;
}
